.footer-container{
    height: 5rem;
    flex-direction: column;

}
.footer-items{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer-items > a{
    display: flex;
}
.footer-items > a > img{
    width: 2rem;
    filter: invert(1);
}
@media (max-width: 480px) {
    .footer-container{
        height: 5rem;
    }
    .footer-items{
        gap: .5rem;
    }
    .footer-items > a > img{
        width: 1rem;
    }
}