@import './variables.css';

:root{
    --desktop: 1200px;
    --laptop: 1024px;
    --tablet: 768px;
    --phone: 480px;
}

.Header{
    background-color: var(--bg-dark);
    width: var(--max-width);
    height: 4.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.nav-controll{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* @media (max-width: 1024px) {
    .Header{
        background-color: yellow;
    }
}
@media (max-width: 768px) {
    .Header{
        background-color: blue;
    }
}
*/
@media (max-width: 480px) {
    .Header{
        height: 3.5rem;
    }
    .nav-controll > .links > img{
        width: 5rem;
    }
    .nav-controll > .links{
        margin-left: .5rem;
    }
} 